@import url(./geral.css);

#produtos {
  padding: 122px 0 20px 0;
}

.produtos-categorias {
  flex-wrap: wrap;
  gap: 20px 50px;
}

#filtros {
  position: sticky;
  top: 130px;
  bottom: 0;
  width: 300px;
  border: 2px solid #ff80f4;
  border-radius: 10px;
  background-color: #ffd2fb;
  align-self: flex-start;
}

#filtros li {
  color: #444;
  font-family: "Poppins";
  font-size: 18px;
}

#filtros a {
  margin: 10px;
  padding: 10px;
  display: block;
  background-color: #ffffff;
}

#filtros a:hover {
  background-color: #fff0fe;
}

#produtos-lista {
  flex-wrap: wrap;
  flex: 1;
  gap: 20px 50px;
}

#produtos-lista img {
  display: block;
  width: 250px;
  height: 350px;

  border-radius: 25px;

  object-fit: cover;
  object-position: center center;
  filter: saturate(1.5);
}

#produtos-lista .idp {
  font-size: 20px;
  text-align: center;
  font-weight: 200;
  font-family: "Merienda";
}

#produtos-lista .categoria {
  font-size: 20px;
  text-align: center;
  font-weight: 600;
  font-family: "Merienda";
}
