* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Merienda";
  font-weight: normal;
  font-size: 18px;
}

body {
  display: flex;
  flex-direction: column;
  /* flex-wrap: wrap; */
  justify-content: start;
  align-items: center;
  min-height: 100vh;

  /* background */
  background-image: url(https://cdn.pixabay.com/photo/2023/08/26/09/04/strawberry-8214486_1280.jpg);
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
  background-attachment: fixed;
  backdrop-filter: blur(10px) saturate(2);
}

/* HEADER */

header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  position: sticky;
  top: 0;
  width: 100%;
  color: #fff;
  /* backgroud */
  /* background-color: #c1121f; */
  background-color: #b5179e;
  border-top: solid 4px #780000;
  border-bottom: solid 4px #780000;
}

#header-box {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: baseline;
  width: 1200px;
  margin: 10px;
  text-shadow: 1px 1px 3px #000;
}

.logo {
  font-size: 50px;

  /* teste */
  /* display: none; */
}

nav {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-end;
  flex-grow: 1;
}

nav ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: baseline;
  list-style: none;
}

nav li {
  font-size: 23px;
  margin-left: 20px;
  transition: 0.1s;
}

nav ul:has(li:hover) li:not(:hover) {
  opacity: 0.5;
}

nav li:hover {
  cursor: pointer;
  transform-origin: center bottom;
  transform: scale(1.5);
  filter: drop-shadow(0 0 10px #000);
}

/* MAIN */

main {
  display: flex;
  flex-direction: column;
  /* flex-wrap: wrap; */
  justify-content: center;
  align-items: center;
  width: 100%;
}

#destaque2 {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  max-width: 1200px;
  min-height: 320px;
  /* padding: 20px 0; */
}

#destaque2-mensagem {
  flex-grow: 1;
  /* width: 500px; */
  max-width: 100%;
  margin: 20px;
  padding: 10px;
  box-shadow: 0 0 10px #000;
  text-shadow: 0 0 3px #000, 1px 1px 3px #000;
  border-radius: 10px;
  background-color: rgba(55, 6, 23, 0.2);
  color: #fff;
}

#destaque2-mensagem h1 {
  font-size: 32px;
  margin-bottom: 20px;
  
}

#destaque2-mensagem p {
  font-family: "Montserrat";
  font-size: 24px;
  margin-top: 10px;
}

#pessoa {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-self: stretch;
  align-items: flex-end;
}

#destaque2 img {
  margin-left: 30px;
  
  /* teste */
  -webkit-user-drag: none;
}

#destaque3 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  /* min-height: 5000px; */
  background-color: #fff;
}

.destaque-box3 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;

  max-width: 1200px;

  margin: 20px 0;
}

.itens {
  background-color: #edede9;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  margin: 10px;
  margin-top: 10px;
  width: 280px;
  height: 400px;

  border-radius: 10px;

  box-shadow: 0px 10px 10px -11px #000;
}

.itens img {
  object-fit: cover;
  object-position: center;
  /* background-color: #c1121f; */
  width: 280px;
  height: 320px;
  transition: 0.5s;

  border-radius: 10px 10px 0 0 ;
}

.itens h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;

  text-align: center;
}

footer {
  background-color: #5d5d5d;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}

#footer-box {
  padding: 30px;
  width: 1200px;
  display: flex;
  /* align-self: center; */
  flex-direction: row;
  /* flex-wrap: wrap; */
  justify-content: space-between;
}

#links {
  background-color: #878787;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
  width: 300px;
  align-self: center;
  border-radius: 10px 0 0 10px;
}

#links ul {
  list-style: none;

}

#mapa {
  flex-grow: 1;
  width: 100%;
}

iframe {
  display: block;
  border-radius: 20px;
  /* margin: 30px 0; */
  padding: 0;
  border: 0;
  width: 100%;
  height: 300px;
}

article {}

aside {}

/* media */

/* tablet */
@media (max-width: 1024px) {

  #header-box {
    justify-content: center;
  }

  nav {
    display: none;
  }

  #header-box {
    width: 100%;
  }
  #destaque2 {
    width: 100%;
  }

  #destaque-box3 {
    width: 100%;
  }

  #footer-box {
    width: 100%;
  }

  #links {
    /* margin-left: 30px; */
  }

  #mapa {
    /* margin-right: 30px; */
  }
}

/* celular */
@media (max-width: 786px) {

  nav {
    display: none;
  }

  #destaque2 {
    flex-wrap: wrap;
  }

  #destaque2-mensagem {
    /* margin: 10px; */
  }

  #footer-box {
    flex-direction: column;
    align-items: center;
  }

  #links {
    /* margin-top: 20px; */
    border-radius: 10px 10px 0 0;
  }

  #mapa {
    width: 100%;
    /* padding: 0 20px 20px 20px; */
  }

  iframe {
    margin: 0;
  }

}