* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Aladin", system-ui;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  flex-wrap: nowrap;
  min-height: 100vh;
  /* background */
  background-image: url(https://cdn.pixabay.com/photo/2023/08/26/09/04/strawberry-8214486_1280.jpg);
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
  background-attachment: fixed;
  backdrop-filter: blur(10px) saturate(2);
}

/* HEADER */

header {
    display: flex;
    justify-content: center;
  width: 100%;

  color: #fff;

  /* Testes */
  background-color: #250902;
  width: 100%;
  height: 70px;
}

#header-box {
  width: 1000px;
  /* testes */
  background-color: blue;
}

.logo {
}

nav {
}

nav ul {
}

nav li {
}

nav li:hover {
  cursor: pointer;
}

/* MAIN */

main {
    display: flex;
    justify-content: center;
  width: 100%;

  color: #fff;

  /* Testes */
  background-color: #cecece;
  width: 100%;
  height: 70px;

}

#main-box{
    background-color: aqua;
    width: 1000px;
}

article {
}

aside {
}
